header {
  text-align: center;
	width: 100%;
	height: 400px;
  background-color: lightslategrey;
  background-image: url("/images/background.png");
  color: black;
	background-attachment: fixed;
  padding: 1em;
  top: 114px;

}
