.navbar {
  display: flex;
  height: 120px;
  background-color: #404a6b;
  color: #FFFFFFFF;
  width: 100%;
  padding: 1.5em;
  justify-content: space-between;
  position: sticky; /* to keep my avatar in its position on the screen */
}

.navbarsub {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.fa-angle-double-down {
  display: flex;
  color: rgb(122, 4, 4);
  align-self: center;
  padding-bottom: 10px;
}